version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo:27017/quiz_interactive
      - BACKEND_PORT=5000
    depends_on:
      - mongo
    volumes:
      - ./backend:/app/backend

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=quiz_interactive

volumes:
  mongo_data:
